<h3>Hotel Adviser - TOP 5 hotels of this week</h3>

<% @hotels.each do |hotel| %>
<div class="row">
<div class="span2">
  <p><%= image_tag hotel.photo.small_photo %></p>
</div>
<div class="span6">
  <h4><%= hotel.title %>
    <% hotel.star.times do |star| %>
    <%= image_tag("star.png", :size=>"10x10") %>
    <% end %>
  </h4>
  <p><strong>Description: </strong> <%= hotel.room %> </p>
  <p><strong>Breakfast:</strong>
    <% if hotel.breakfast == true%>
       <%= " included"%>
    <% else %>
       <%= " no"%>
    <% end %>
  </p>
  <p><strong>Price per night: </strong>
  <%= hotel.price%>
  <%= "$"%>
  </p>
</div>
<div class="span2">
  <%= link_to 'Show', hotel, :class => "btn btn-inverse btn-mini" %>
  <%if hotel.user == current_user%>
  <%= link_to 'Edit', edit_hotel_path(hotel), :class => "btn btn-inverse btn-mini" %>
  <%= link_to 'Destroy', hotel, confirm: 'Are you sure?', method: :delete, :class => "btn btn-inverse btn-mini" %>
  <%end%>
</div>
</div>
<span class="divider">&nbsp;</span>
<% end %>
