<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi, you have just created a new hotel</h1>
    <p>
      Our administrator will check it as soon as possible.
      You will receive confirmation email.<br>
    </p>

    <p>With Best regards, administration of Ahotel!</p>
  </body>
</html>
