<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hi, your hotel is rejected</h1>
    <p>
      Our administrator will check it and reject it.
      <br>
    </p>

    <p>With Best regards, administration of Ahotel!</p>
  </body>
</html>
