Welcome to example.com, <%= @user.email %>
===============================================
You have successfully signed up to Ahotel,
your username is: <%= @user.email %>.

To login to the site, just follow this link: <%= @url %>.

Thanks for joining and have a great day!
