<h2>Users</h2>


<%= form_tag manager_root_path, :method => 'get' do %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>


<table class="pretty">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= sortable_user "email"%></th>
      <th>Hotels</th>
      <th>Commits</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>

<% @users.each do |user| %>
  <tr>
    <td><%= user.id%></td>
    <td><%= user.email %></td>

    <td><%= user.hotels.count %></td>
    <td><%= user.commits.count %></td>
    <td><%= link_to 'Edit', edit_user_path(user), :class => "btn btn-inverse btn-mini" %> &nbsp;
    <%= link_to 'Delete', user_path(user),:class => "btn btn-inverse btn-mini", :method => 'delete', :confirm => 'Are you sure?' %></td>
  </tr>
<% end %>
  </tbody>
</table>
<%= will_paginate @users%>

<%= link_to 'New User', new_user_registration_path, :class => "btn btn-success" %>
