<h2>Hotels</h2>
<%= form_tag hotels_index_path, :method => 'get' do %>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
    <p>
      <%= "Pending" %> <%= check_box_tag :pending %>
      <%= "Approved" %> <%= check_box_tag :approved %>
      <%= "Rejected" %> <%= check_box_tag :rejected %>
      <%= submit_tag "Status Filter", :name => nil %>
    </p>
<% end %>

<table class="pretty">
  <thead>
    <tr>
      <th>№</th>
      <th><%= sortable_hotel "title"%></th>
      <th>User ID</th>
      <th>Statuses</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>




<% @hotels.each do |hotel| %>
  <tr>
    <td><%= hotel.id%></td>
    <td><%= hotel.title %></td>
    <td><%= hotel.user_id %></td>
    <td>
        <% case %>
          <% when hotel.pending===true%>
            <%= 'pending' %>
          <% when hotel.approved===true%>
            <%= 'approved' %>
          <% else %>
            <%= 'rejected' %>
        <% end %>
    </td>

    <td>
      <%if hotel.pending===true%>
      <%= link_to 'Edit', edit_hotel_path(hotel), :class => "btn btn-inverse btn-mini" %> &nbsp;
      <%end%>
    <%= link_to 'Delete', hotel_path(hotel),:class => "btn btn-inverse btn-mini", :method => 'delete', :confirm => 'Are you sure?' %></td>
  </tr>
<% end %>
  </tbody>
</table>
<%= will_paginate @hotels%>

<%= link_to 'New Hotel', new_hotel_path, :class => "btn btn-success" %>
