<h1>Administrator panel</h1>
  <%= render 'managers/list_of_users' %>
<br><br>
<%= link_to 'Users management panel', manager_root_path %> |
<%= link_to 'Hotels management panel', hotels_index_path %> 
