
  <h4>Leave your comment right now!</h4>

     <%= form_for([@hotel, @hotel.commits.build]) do |f| %>
      <%= f.label :comment %>
      <%= f.text_area :comment , :class => "commit_area"%>
      <%= f.label :star_rating %>
      <%= f.select :star_rating, options_for_select(1..5)%>
      <%if user_signed_in? %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%end%>
      <%if manager_signed_in? %>
      <%= f.hidden_field :user_id, :value => 777 %>
      <%end%>

   <%= f.button class: 'btn btn-success btn-large'%>
   <% end %>
