<%= form_for(@hotel) do |f| %>
<div class="row">
<div class="span5">

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :star %>
    <%= f.number_field :star %>
  </div><br>
  <div class="field">
    <%= "Breakfast?" %>
    <%= f.check_box :breakfast %>
  </div><br>
  <div class="field">
    <%= "Description" %><br>
    <%= f.text_area :room %>
  </div>
  <div class="field">
    <%= f.label :photo %>
    <%= f.file_field :photo %>
  </div><br>
  <div class="field">
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>
<%if manager_signed_in? %>
  <div class="field">
    <%= f.label "Pending" %>  <%= f.check_box :pending %>
    <%= f.label "Approved" %>  <%= f.check_box :approved %>
    <%= f.label "Rejected" %>  <%= f.check_box :rejected %> <br />
  </div>
<%end%>  

</div>
<div class="span4">
  <h4>Address:</h4>
  <%= f.fields_for :address do |ff| %>
  <%= ff.label :country %>
  <%= ff.text_field :country %><br>
  <%= ff.label :state %>
  <%= ff.text_field :state %><br>
  <%= ff.label :city %>
  <%= ff.text_field :city %><br>
  <%= ff.label :street %>
  <%= ff.text_field :street %><br>
  <%= ff.label :corp %>
  <%= ff.text_field :corp %><br>
<% end %>
</div>
</div>
<div class="row">  <%= f.submit class: 'btn btn-success btn-large pull-right'%> </div>

<% end %>
