
<div class="row">
  <div class="span5">
    <p>
      <%= image_tag @hotel.photo.large_photo %>
    </p>
  </div>
  <div class="span5">
    <div class="field">
    <h3><%= @hotel.title %></h3>
    <p>
      <% @hotel.star.times do |star| %>
      <%= image_tag("star.png", :size=>"20x20") %>
      <% end %>
    </p>
    </div>
    <div class="field">
      <strong>Description</strong>
       <p>
         <%= @hotel.room %>
       </p>
       <p>
         <strong>Breakfast:</strong>
           <% if @hotel.breakfast == true%>
             <%= " included"%>
           <% else %>
             <%= " no"%>
           <% end %>
       </p>
    </div>
    <div class="field">
      <p>
      <strong>Price per night:</strong>
      <%= @hotel.price%>
      <%= "$"%>
      </p>
    </div>
    <div class="field">
      <p>
      <strong>Address:</strong>
      <%= @address.first.corp %>&nbsp;
      <%= @address.first.street %>,&nbsp;
      <% if @address.first.state != ""%>
        <%= @address.first.country %> (<%= @address.first.state %>)
      <% else %>
        <%= @address.first.country %>
      <% end %>

      </p>
    </div>

  </div>
</div>

  <h4>Customer сomments</h4>
<% if @commits.first != nil%>
  <% @hotel.commits.each do |commit| %>
    <div class="row">
      <div class="span2"><%= commit.user.email %></div>
      <div class="span6"><p><%= commit.comment %></p></div>
      <div class="span2" id="user_mark"><p><%= commit.star_rating %></p></div>
    </div>
    <br>
  <% end %>
<%else%>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<%end%>


<% if signed_in? %>
  <%= render 'commit_add'%>
<% end %>
