<div id="footer">
  <div class="compact">
    <div class="pull-left">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit </p>
    </div>
    <div class="pull-right">
    <p>All rights reserved  © Ahotel </p>
    </div>
  </div>
</div>
