<div class="navbar">
<div class="navbar-inner">
<a class="navbar-brand" href="/"><%=image_tag("logo.jpg",class: "img-rounded", alt: "logo")%></a>

<ul class="nav pull-right">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Help", help_path %></li>
  <li><%= link_to "About", about_path %></li>
  <% case %>
  <% when manager_signed_in?%>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Account <b class="caret"></b></a>
      <ul class="dropdown-menu" role="menu">
        <li><%= link_to "Create new hotel", new_hotel_path %></li>
        <li><%= link_to "Settings", '#' %></li>
        <li class="divider"></li>
        <li><%= link_to "Logout", destroy_manager_session_path, :method => :delete %></li>
      </ul>
    </li>
    <li> <%= link_to "Logout", destroy_manager_session_path, :method => :delete %></li>

  <% when user_signed_in?%>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Account <b class="caret"></b></a>
      <ul class="dropdown-menu" role="menu">
        <li><%= link_to "Create new hotel", new_hotel_path %></li>
        <li>
          <% if user_signed_in?%>
          <%= link_to current_user.email, edit_user_registration_path %>
          <% end %>
        </li>
        <li><%= link_to "Settings", '#' %></li>
        <li class="divider"></li>
        <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
      </ul>
    </li>
    <li> <%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>

  <% else %>
    <li><%= link_to "Sign in", new_user_session_path %></li>
  <% end %>

</ul>
</div>
</div>
