<!DOCTYPE html>
<html>
<head>
  <title>Ahotel</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>

<div class="container">
  <div class="row">
      <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
      <% end %>
  </div>

  <div class="row">
    <div class="span10">
    <%= yield %>
    </div>
    <%= render 'layouts/advertisement' %>
  </div>
</div>

<%= render 'layouts/footer' %>


</body>
</html>
